<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuario</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <h1 class="bg-blue-500 text-white py-4 text-center">Editar Usuario</h1>
  <form class="max-w-md mx-auto bg-white p-6 rounded shadow-lg mt-6" action="/users/update/<%= user._id %>" method="POST">
    <label class="block mb-2" for="name">Nombre:</label>
    <input class="w-full p-2 border border-gray-300 rounded" type="text" id="name" name="name" value="<%= user.name %>" required>
    <label class="block mb-2 mt-3" for="email">Email:</label>
    <input class="w-full p-2 border border-gray-300 rounded" type="email" id="email" name="email" value="<%= user.email %>" required>
    <label class="block mb-2 mt-3" for="password">Contraseña:</label>
    <input class="w-full p-2 border border-gray-300 rounded" type="password" id="password" name="password" placeholder="Dejar en blanco para mantener la misma contraseña">
    <button class="bg-blue-500 text-white px-4 py-2 rounded mt-3 hover:bg-blue-700" type="submit">Actualizar Usuario</button>
  </form>
  <hr class="my-6">
  <a class="text-blue-500 block text-center" href="/users">Regresar a la lista de usuarios</a>
</body>
</html>
