<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.gif" alt="" title="" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <% if (title == 'agregar') { %>
            <li><a href="/">Universidades</a></li>
            <li class="menu-active"><a href="/agregar">Añadir universidad</a></li>
          <% } else {%>
            <li class="menu-active"><a href="/">Universidades</a></li>
            <li><a href="/agregar">Añadir universidad</a></li>
          <% }%>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  