<div class="container d-flex justify-content-center align-items-center vh-100">
    <form (submit)="onSubmit()" class="p-4 border rounded bg-light">
        <h1 class="text-center mb-4">Formulario de Contacto</h1>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
        </div>

        <div class="text-center">
            <button type="submit" [disabled]="!nombre || !email" (click)="confirmSubmit()"
                class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
